<!--<div class="container-fluid p-0">-->
<!--  <div class="row">-->
<!--    <div class="col">-->
<!--      <app-cabinet-head></app-cabinet-head>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-3 border-2">-->
<!--      <app-cabinet-menu></app-cabinet-menu>-->
<!--    </div>-->
<!--    <div class="col-9">-->
<!--      <app-cabinet-my-page></app-cabinet-my-page>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-12">-->
<!--&lt;!&ndash;      <app-cabinet-footer></app-cabinet-footer>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js' type='text/javascript'></script>

<link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>

<div class="body" id="body-pd">
  <header class="header bg-light" id="header">
    <div class="header_toggle text-dark" onClick="toggleMenu()">
      <i class='bx bx-menu' id="header-toggle"></i>
    </div>
    <div class="header_img">
      <!--      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">-->
      <!--        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>-->
      <!--        <path fill-rule="evenodd"-->
      <!--              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>-->
      <!--      </svg>-->
      <img alt="" src="../../../../assets/main/img/logo/person-circle.svg">
    </div>
  </header>
  <!--  <app-cabinet-head></app-cabinet-head>-->
  <div class="l-navbar bg-dark" id="navbar">
    <app-cabinet-menu></app-cabinet-menu>
  </div>
  <div class="height-100 bg-white">
    <!--    <app-cabinet-state-page></app-cabinet-state-page>-->
    <!--    <app-cabinet-attendance-page></app-cabinet-attendance-page>-->
    <app-cabinet-attendance-state-page></app-cabinet-attendance-state-page>
    <!--    <app-cabinet-group-page></app-cabinet-group-page>-->
    <!--    <app-cabinet-notification-page></app-cabinet-notification-page>-->
    <!--    <app-cabinet-my-page></app-cabinet-my-page>-->
  </div>
</div>

<script src="../../../../assets/main/scripts/cabinet-template.component.js" type="text/javascript"></script>

