<nav class="nav">
  <div>
    <a class="nav_logo text-white" href="#">
      <svg class="bi bi-mortarboard-fill" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
           xmlns="http://www.w3.org/2000/svg">
        <path
          d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
        <path
          d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
      </svg>
      <strong>&nbsp;SmartEducation</strong>
    </a>
    <div class="nav_list">
      <div *ngIf="this.role?.name == 'ROLE_ROOT'">
        jhgsdjhgasjdgh
        <app-cabinet-menu-root [itemName]="this.itemName"></app-cabinet-menu-root>
      </div>
      <div *ngIf="this.role?.name == 'ROLE_ADMIN'">
        <app-cabinet-menu-admin [itemName]="this.itemName"></app-cabinet-menu-admin>
      </div>
      <div *ngIf="this.role?.name == 'ROLE_SUPERVISOR'">
        <app-cabinet-menu-supervisor [itemName]="this.itemName"></app-cabinet-menu-supervisor>
      </div>
      <div *ngIf="this.role?.name == 'ROLE_TEACHER'">
        <app-cabinet-menu-teacher [itemName]="this.itemName"></app-cabinet-menu-teacher>
      </div>
      <div *ngIf="this.role?.name == 'ROLE_STUDENT_LEAD'">
        <app-cabinet-menu-student-lead [itemName]="this.itemName"></app-cabinet-menu-student-lead>
      </div>
      <div *ngIf="this.role?.name == 'ROLE_STUDENT'">
        <app-cabinet-menu-student [itemName]="this.itemName"></app-cabinet-menu-student>
      </div>
      <div *ngIf="this.role?.name == 'ROLE_USER'">
        <app-cabinet-menu-user [itemName]="this.itemName"></app-cabinet-menu-user>
      </div>
    </div>
  </div>
</nav>
