<body>

<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Описание системы</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac diam ante. Sed
            pellentesque, dui sit amet interdum ultricies, sem nunc vulputate dui, id rhoncus ipsum erat non nibh.
            Suspendisse finibus velit blandit erat egestas, et placerat nisl consequat.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Меню</h4>
          <ul class="list-unstyled">
            <li><a class="text-white" routerLink="login" routerLinkActive="active">Вход</a></li>
            <li><a class="text-white" routerLink="registration" routerLinkActive="active">Регистрация</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <!--        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" stroke="currentColor" class="bi bi-diamond-half" viewBox="0 0 16 16">-->
        <!--          <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 .989c.127 0 .253.049.35.145l6.516 6.516a.495.495 0 0 1 0 .7L8.35 14.866a.493.493 0 0 1-.35.145V.989z"/>-->
        <!--        </svg>-->
        <svg class="bi bi-mortarboard-fill" fill="currentColor" height="16" viewBox="0 0 16 16"
             width="16" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
          <path
            d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
        </svg>
        <!--        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24">-->
        <!--          <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>-->
        <!--          <circle cx="12" cy="13" r="4"></circle>-->
        <!--        </svg>-->
        <strong>&nbsp;SmartEducation</strong>
      </a>
      <button aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
              data-bs-target="#navbarHeader" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">SmartEducation</h1>
        <!--        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>-->
        <!--        <p>-->
        <!--          <a href="#" class="btn btn-primary my-2">Main call to action</a>-->
        <!--          <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
        <!--        </p>-->
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" focusable="false"
                 height="225"
                 preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
              <title>Placeholder</title>
              <rect fill="#55595c" height="100%" width="100%"></rect>
              <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>
            </svg>

            <div class="card-body">
              <p class="card-text">Maecenas dapibus lobortis libero, a feugiat enim porttitor nec. Sed pellentesque mi
                in sem tincidunt pharetra.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button class="btn btn-sm btn-outline-secondary" type="button">Подробнее</button>
                  <!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                </div>
                <!--                <small class="text-muted">9 mins</small>-->
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" focusable="false"
                 height="225"
                 preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
              <title>Placeholder</title>
              <rect fill="#55595c" height="100%" width="100%"></rect>
              <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>
            </svg>

            <div class="card-body">
              <p class="card-text">Maecenas dapibus lobortis libero, a feugiat enim porttitor nec. Sed pellentesque mi
                in sem tincidunt pharetra.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button class="btn btn-sm btn-outline-secondary" type="button">Подробнее</button>
                  <!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                </div>
                <!--                <small class="text-muted">9 mins</small>-->
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" focusable="false"
                 height="225"
                 preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
              <title>Placeholder</title>
              <rect fill="#55595c" height="100%" width="100%"></rect>
              <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>
            </svg>

            <div class="card-body">
              <p class="card-text">Maecenas dapibus lobortis libero, a feugiat enim porttitor nec. Sed pellentesque mi
                in sem tincidunt pharetra.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button class="btn btn-sm btn-outline-secondary" type="button">Подробнее</button>
                  <!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                </div>
                <!--                <small class="text-muted">9 mins</small>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">VitMVit</p>
    <!--    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.0/getting-started/introduction/">getting started guide</a>.</p>-->
  </div>
</footer>

<script
  crossorigin="anonymous"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  src="https://code.jquery.com/jquery-3.6.0.min.js"
></script>
<!--<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"-->
<!--        crossorigin="anonymous"></script>-->
</body>
