<div class="container-fluid py-5">
  <!--  <app-header-open></app-header-open>-->
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm">
      <h1 class="display-1 font-weight-bold text-center">404</h1>
      <p class="text-center">Упс... страница не найдена</p>
      <hr class="bg-danger border-2 border-top border-light">
      <!--      <div class="d-flex justify-content-between">Мы пока не понимаем в чем причина этой ошибки, но уже сейчас все котиковы лапки нашего офиса работают над ней</div>-->
      <!--      <br><br>-->
      <!--      <div class="d-flex justify-content-between">-->
      <!--        <img src="assets/main/img/404/404.jpeg" alt="Кот за работой" class="rounded mx-auto d-block shadow-sm" style="max-width: 300px; max-height: 300px;">-->
      <!--&lt;!&ndash;        <img src="assets/main/img/404/cat_typing.gif" alt="Кот за работой" class="rounded mx-auto d-block shadow-sm" style="max-width: 300px; max-height: 300px;">&ndash;&gt;-->
      <!--      </div>-->
      <!--      <br><br>-->
      <!--      <hr>-->
      <div class="d-flex justify-content-evenly">
        <a routerLink="/" routerLinkActive="active">Главная страница</a>
        <a routerLink="/" routerLinkActive="active">Личный кабинет</a>
      </div>
      <!--      А Вы пока можете:-->
      <!--      <br>-->
      <!--      1. Перейти на <a routerLink="/" routerLinkActive="active">главную страницу</a>-->
      <!--      <br>-->
      <!--      2. Попасть в <a routerLink="/login" routerLinkActive="active">личный кабинет</a>-->
      <!--      <hr>-->
      <!--      <br><br><br><br>-->
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
