<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button aria-controls="collapseOne" aria-expanded="true" class="accordion-button" data-bs-target="#collapseOne"
              data-bs-toggle="collapse" type="button">
        Имя Фамилия Отчество 1
      </button>
    </h2>
    <div aria-labelledby="headingOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample"
         id="collapseOne">
      <div class="accordion-body">
        <!--        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds-->
        <!--        the appropriate classes that we use to style each element. These classes control the overall appearance, as well-->
        <!--        as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our-->
        <!--        default variables. It's also worth noting that just about any HTML can go within the-->
        <!--        <code>.accordion-body</code>, though the transition does limit overflow.-->
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Предмет</th>
            <th scope="col">Кол-во часов</th>
            <th scope="col">Пропущено</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td class="navbar-brand d-flex align-items-center" href="#">
              <img alt="" src="../../../../assets/main/img/logo/person-circle.svg">
              <strong>&nbsp;Предмет 1</strong>
            </td>
            <td>100</td>
            <td>100</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td class="navbar-brand d-flex align-items-center" href="#">
              <img alt="" src="../../../../assets/main/img/logo/person-circle.svg">
              <strong>&nbsp;Предмет 2</strong>
            </td>
            <td>293</td>
            <td>293</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td class="navbar-brand d-flex align-items-center" href="#">
              <img alt="" src="../../../../assets/main/img/logo/person-circle.svg">
              <strong>&nbsp;Предмет 3</strong>
            </td>
            <td>657</td>
            <td>657</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td class="navbar-brand d-flex align-items-center" href="#">
              <img alt="" src="../../../../assets/main/img/logo/person-circle.svg">
              <strong>&nbsp;Предмет 4</strong>
            </td>
            <td>657</td>
            <td>657</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button aria-controls="collapseTwo" aria-expanded="false" class="accordion-button collapsed"
              data-bs-target="#collapseTwo"
              data-bs-toggle="collapse" type="button">
        Имя Фамилия Отчество 2
      </button>
    </h2>
    <div aria-labelledby="headingTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample"
         id="collapseTwo">
      <div class="accordion-body">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Предмет</th>
            <th scope="col">Кол-во часов</th>
            <th scope="col">Пропущено</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td class="navbar-brand d-flex align-items-center" href="#">
              <strong>&nbsp;Предмет 1</strong>
            </td>
            <td>100</td>
            <td>100</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td class="navbar-brand d-flex align-items-center" href="#">
              <strong>&nbsp;Предмет 2</strong>
            </td>
            <td>293</td>
            <td>293</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td class="navbar-brand d-flex align-items-center" href="#">
              <strong>&nbsp;Предмет 3</strong>
            </td>
            <td>657</td>
            <td>657</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td class="navbar-brand d-flex align-items-center" href="#">
              <img alt="" src="../../../../assets/main/img/logo/person-circle.svg">
              <strong>&nbsp;Предмет 4</strong>
            </td>
            <td>657</td>
            <td>657</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button aria-controls="collapseThree" aria-expanded="false" class="accordion-button collapsed"
              data-bs-target="#collapseThree"
              data-bs-toggle="collapse" type="button">
        Имя Фамилия Отчество 1
      </button>
    </h2>
    <div aria-labelledby="headingThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample"
         id="collapseThree">
      <div class="accordion-body">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Предмет</th>
            <th scope="col">Кол-во часов</th>
            <th scope="col">Пропущено</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td class="navbar-brand d-flex align-items-center" href="#">
              <strong>&nbsp;Предмет 1</strong>
            </td>
            <td>100</td>
            <td>100</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td class="navbar-brand d-flex align-items-center" href="#">
              <strong>&nbsp;Предмет 2</strong>
            </td>
            <td>293</td>
            <td>293</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td class="navbar-brand d-flex align-items-center" href="#">
              <strong>&nbsp;Предмет 3</strong>
            </td>
            <td>657</td>
            <td>657</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td class="navbar-brand d-flex align-items-center" href="#">
              <strong>&nbsp;Предмет 4</strong>
            </td>
            <td>657</td>
            <td>657</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
