<div class="body" id="body-pd">
  <header class="header bg-light" id="header">
    <div class="header_toggle text-dark" onClick="toggleMenu()">
      <i class='bx bx-menu' id="header-toggle"></i>
    </div>
    <div class="header_img">
<!--      <img alt="" src="../src/assets/main/img/logo/person-circle.svg">-->
    </div>
  </header>
  <div class="l-navbar bg-dark" id="navbar">
    <app-cabinet-menu
      [itemName]=this.itemName
      [role]=this.role
    ></app-cabinet-menu>
  </div>
  <div class="height-100 bg-white">
    <!-- start content -->
    <h1>Уведомления</h1>
    <hr>
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button aria-controls="panelsStayOpen-collapseOne" aria-expanded="true" class="accordion-button"
                  data-bs-target="#panelsStayOpen-collapseOne" data-bs-toggle="collapse"
                  type="button">
            <!--        Accordion Item #1-->
            <div class="nav_link text-dark text-truncate">
              <svg class="bi bi-bell" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
              </svg>
              <span class="nav_name fw-light"> Уведомление о мероприятии</span>
            </div>
          </button>
        </h2>
        <div aria-labelledby="panelsStayOpen-headingOne" class="accordion-collapse collapse w-100 show"
             id="panelsStayOpen-collapseOne">
          <div class="accordion-body">
            Такого-то числа, та-то там-то нужно собрать сток-то студентов в кучку на мероприятие
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-secondary me-md-2" type="button">Закрыть</button>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button aria-controls="panelsStayOpen-collapseThree" aria-expanded="false" class="accordion-button collapsed"
                  data-bs-target="#panelsStayOpen-collapseThree" data-bs-toggle="collapse"
                  type="button">
            <div class="nav_link text-truncate">
              <svg class="bi bi-bell" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
              </svg>
              <span class="nav_name fw-light text-break"> Отметка посещаемости группа БЛОХ-21</span>
            </div>
          </button>
        </h2>
        <div aria-labelledby="panelsStayOpen-headingThree" class="overflow-auto accordion-collapse collapse w-100"
             id="panelsStayOpen-collapseThree">
          <div class="accordion-body">
            <table class="table table-hover">
              <thead>
              <tr>
                <th class="w-auto">#</th>
                <th class="w-auto">ФИО</th>
                <th class="w-auto">
                  <input (click)="selectAll()" [(ngModel)]="selectedAll" class="form-check-input" id="selectAll"
                         type="checkbox" value=""> Присутствие
                </th>
                <th class="w-auto">Причины</th>
                <th>Описание</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let studentItem of this.userArray">
                <td>
                  <app-image-view [imageHeight]=100 [imageUuid]="studentItem.avatarUuid"
                                  [imageWidth]=100></app-image-view>
                </td>
                <td>
                  {{studentItem.lastName}}&nbsp;{{studentItem.name}}&nbsp;{{studentItem.middleName}}
                </td>
                <td>
                  <input (click)="checkSelectAll(studentItem.id)" class="form-check-input" id="visit_{{studentItem.id}}"
                         type="checkbox">
                </td>
                <td>
                  <select class="form-select" id="reason_{{studentItem.id}}">
                    <option selected value="1">По семейным обстоятельствам</option>
                    <option value="2">По болезни</option>
                    <option value="3">Неизвестно</option>
                  </select>
                </td>
                <td>
                  <input class="form-control" id="description_{{studentItem.id}}" type="email">
                </td>
              <tr>
              </tbody>
            </table>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-secondary me-md-2" type="button">Подтвердить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end content -->
  </div>
</div>
