<div class="body" id="body-pd">
  <header class="header bg-light" id="header">
    <div class="header_toggle text-dark" onClick="toggleMenu()">
      <i class='bx bx-menu' id="header-toggle"></i>
    </div>
    <!--    <div><a href="#" (click)="this.logOff()">LogOff</a></div>-->
    <div class="header_img">
      <img alt="" src="/assets/img/logo/no_avatar.png">
    </div>
  </header>
  <div class="l-navbar bg-dark" id="navbar">
    <app-cabinet-menu
      [itemName]=this.itemName
      [role]=this.role
    ></app-cabinet-menu>
  </div>
  <div class="height-100 bg-white">
    <!-- start content -->
    <h1>Моя группа / {{this.group.name + this.group.number}}</h1>
    Поступление: {{this.group.admissionDate}}, выпуск: {{this.group.graduationDate}}
    <hr>
    <table class="table table-hover">
      <tbody>
      <tr *ngFor="let item of this.userArray">
        <th scope="row">
          <app-image-view [imageHeight]=100 [imageUuid]="item.avatarUuid" [imageWidth]=100></app-image-view>
        </th>
        <td class="navbar-brand d-flex align-items-center" href="#">
          <strong>&nbsp;ФИО:<br/>
            Email:<br/>
            Телефон:<br/>
            Студенческий:</strong>
        </td>
        <td>{{item.lastName}}&nbsp;{{item.name}}&nbsp;{{item.middleName}}<br/>
          {{item.login}}<br/>
          {{item.phoneNumber}}<br/>
          {{item.studentNumber}}</td>
      </tr>
      </tbody>
    </table>
    <!--    <div class="container-fluid" *ngFor="let item of this.userArray">-->
    <!--      <div class="row">-->
    <!--        <div class="col-1">-->
    <!--          <app-image-view [imageUuid]="item.avatarUuid" [imageHeight]=100 [imageWidth]=100></app-image-view>-->
    <!--        </div>-->
    <!--        <div class="col-1">-->
    <!--          ФИО:<br/>-->
    <!--          Email:<br/>-->
    <!--          Телефон:<br/>-->
    <!--          Студенческий:-->
    <!--        </div>-->
    <!--        <div class="col">-->
    <!--          {{item.lastName}}&nbsp;{{item.name}}&nbsp;{{item.middleName}}<br/>-->
    <!--          {{item.login}}<br/>-->
    <!--          {{item.phoneNumber}}<br/>-->
    <!--          {{item.studentNumber}}-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <hr/>-->
    <!--    </div>-->
    <br/>
    <br/>
    <!-- end content -->
  </div>
</div>

