<div class="body" id="body-pd">
  <header class="header bg-light" id="header">
    <div class="header_toggle text-dark" onClick="toggleMenu()">
      <i class="bx bx-menu" id="header-toggle"></i>
    </div>
    <div class="header_img">
      <!--<img alt="" src="../src/assets/main/img/logo/person-circle.svg">-->
    </div>
  </header>
  <div class="l-navbar bg-dark" id="navbar">
    <app-cabinet-menu
      [itemName]=this.itemName
      [role]=this.role
    ></app-cabinet-menu>
  </div>
  <div class="height-100 bg-white">
    <!-- start content -->
    <h1>Profile</h1>
    <hr>
    <br/>
    <div class="row">
      <div class="col flex-grow-0">
        <app-image-view
          [imageHeight]=250
          [imageUuid]="this.user.avatarUuid"
          [imageWidth]=250
        ></app-image-view>
        <!--        <img alt="" class="img-thumbnail" src="../../../../../assets/img/logo/no_avatar.png" style="max-height: 250px; max-width: 250px;">-->
      </div>
      <div class="col flex-shrink-0">
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label text-break" for="login">Login (email)</label>
          <div class="col-sm-10">
            <input class="form-control-plaintext" id="login" readonly type="text" value="{{user && user.login}}">
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label text-break" for="partBilet">Студенческий</label>
          <div class="col-sm-10">
            <input class="form-control-plaintext" id="partBilet" readonly type="text"
                   value="{{user && user.studentNumber}}">
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label text-break" for="lastName">Фамилия</label>
          <div class="col-sm-10">
            <input class="form-control-plaintext" id="lastName" readonly type="text" value="{{user && user.lastName}}">
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label text-break" for="name">Имя</label>
          <div class="col-sm-10">
            <input class="form-control-plaintext" id="name" readonly type="text" value="{{user && user.name}}">
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label text-break" for="middleName">Отчество</label>
          <div class="col-sm-10">
            <input class="form-control-plaintext" id="middleName" readonly type="text"
                   value="{{user && user.middleName}}">
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
            <button class="btn btn-light text-break" type="button">Изменить данные</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end content -->
  </div>
</div>

